@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #12131A;
  /* width: 1440px; */
}

body::-webkit-scrollbar {
  width: 0;
}

.sa::-webkit-scrollbar {
  width: 0;
}

.dropdown-options ul::-webkit-scrollbar {
  width: 0;
}

.medals::-webkit-scrollbar {
  width: 0;
  cursor: pointer;
}

/* Right Side sytle */
.indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}







.truncate-none:hover {
  white-space: initial;
  font-size: 10px;
  width: 100%;
  background-color: #667091;
  color: white;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


