@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Carlito", sans-serif;
}
body {
  background-color: #12131a;
  /* width: 1440px; */
}

body::-webkit-scrollbar {
  width: 0;
}

.sa::-webkit-scrollbar {
  width: 0;
}

.dropdown-options ul::-webkit-scrollbar {
  width: 0;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .scrollbar-custom-color::-webkit-scrollbar-thumb {
    background-color: #374677;
  }

  .scrollbar-custom-color::-webkit-scrollbar-track {
    background-color: #374677;
  }
}

/* Right Side sytle */
.indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.truncate-none:hover {
  white-space: initial;
  font-size: 10px;
  width: 100%;
  background-color: #667091;
  color: white;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
